.card-list > p {
    background-color: var(--medium-turquoise);
    font-size: 2em;
    border-radius: 20px;
}
.header-card {
    margin-top: 20px;
    width: 100px;
    background-color: black;
    color: var(--chrome-yellow);
    display: flex;
    align-items: center;
    flex-basis: 100px;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-list {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    overflow: hidden;
    padding-right: 3.7rem;
}
