:root {
    --violet-blue: #3f51b5ff;
    --white: #ffffffff;
    --medium-turquoise: #39cabbff;
    --raisin-black: #1a2332ff;
    --carolina-blue: #3399ccff;
    --chrome-yellow: #ffab02ff;
    --orange-red-crayola: #fe5a54ff;
}
