.card {
    width: 7rem;
    height: 10rem;
    margin-top: 20px;
    margin-right: 5px;
    background: white;
    padding: 0.5rem;
    box-shadow: 4px 4px 15px 2px rgba(1, 1, 1, 0.3);
    border: 2px solid goldenrod;
    border-radius: 20px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.card img {
    border-radius: 5px;
}
.card:not(:first-child) {
    margin-left: -3rem;
}

.card:hover,
.card:focus-within {
    transform: translateY(-1rem);
}
.card:focus-within ~ .card,
.card:hover ~ .card {
    transform: translateX(4rem);
}
